@font-face {
  font-family: "iconfont"; /* Project id 4240210 */
  src: url('iconfont.woff2?t=1693990985150') format('woff2'),
       url('iconfont.woff?t=1693990985150') format('woff'),
       url('iconfont.ttf?t=1693990985150') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-a-danjucaozuofasongyoujian:before {
  content: "\e611";
}

.icon-a-danjucaozuofasongduanxin:before {
  content: "\e612";
}

.icon-a-danjucaozuojisuanqi:before {
  content: "\e613";
}

.icon-a-danjucaozuozuzhisheding:before {
  content: "\e614";
}

