/*设置日志内容的样式*/
.description{
    flex: auto;
    text-align: center;
    font-weight: bold;
}

/*设置描述内容*/
.desc{
    font-size: 16px;
    color: #194B49;
    height: 30px;
    line-height: 30px;
}

/*设置学习时间*/
.time{
    color: #D62828;
    height: 60px;
    padding-top: 10px;
}
