<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mybatis.example.dynamicsql.mapper.EmployeeMapper">
    <select id="selectByNameAndSalary" resultType="employee">
        select * from mybatis_emp
        <!--
            where标签会自动补全where关键字，并去掉多余的and和or关键字
            当没有条件满足时，where不会被加上去
         -->
        <where>
            <!-- if标签用来判断，如果判断条件成立，那么将标签内的语句拼接到sql语句上去 -->
            <if test="empName != null">emp_name = #{empName}</if>
            <if test="empSalary &gt; 800">and emp_salary = #{empSalary}</if>
        </where>
    </select>

    <select id="selectByNameOrSalary" resultType="employee">
        select * from mybatis_emp
        <where>
            <!--
                choose-when-otherwise标签有些类似于switch-case-default结构
                mybatis会从上往下判断，只要找到满足条件的when，就将其标签内的语句拼接到sql上，并不再向下判断
                如果所有的when都没有成立，那么将otherwise标签内的值拼接上去，如果otherwise标签是空的，那么什么都不做
            -->
            <choose>
                <when test="empName != null">emp_name = #{empName}</when>
                <when test="empSalary &gt; 800">and emp_salary = #{empSalary}</when>
                <otherwise/>
            </choose>
        </where>
    </select>

    <insert id="batchInsertEmployee">
        insert into mybatis_emp (emp_name,emp_salary) values
        <foreach collection="list" item="emp" separator=",">
            <!-- 使用foreach，像读取元素内的属性，需要使用 item.属性名 来得到对应的值 -->
            (#{emp.empName},#{emp.empSalary})
        </foreach>
    </insert>

    <update id="updateEmployeeInfoById">
        update mybatis_emp
        <set>
            <if test="empName!=null">emp_name=#{empName}</if>
            <if test="empSalary &gt; 1000">,emp_salary=#{empSalary}</if>
        </set>
        where emp_id=#{empId}


    </update>

    <!-- 定义一个sql标签 -->
    <sql id="selectAll">
        select * from mybatis_emp
    </sql>

    <select id="selectPage" resultType="employee">
        <!-- 使用include标签引用id为selectAll的sql标签内的值 -->
        <include refid="selectAll" />
    </select>


</mapper>