.generalContainer{
    display: flex;
    justify-content: flex-start;
    margin: 5px 0px;
}
.generalContainer>span{
    min-width: 60px;
    text-align: center;
}
.buttonContainer{
    width: 200px;
    text-align: center;
}
.buttonContainer button{
    margin: 0px 5px;
}